<br/>
<div class="ad">
  <div class="ad-column-left">
    <p>
    <p>If you need help with cloud software development,</p>
    <p>I offer contracting services. </p>
    <p><a href="mailto:{{ site.email }}">Email me</a> for more info!</p>
    </p>
  </div>
  <div class="ad-column-right">
    <div class="icon-container">
          <a href="mailto:{{ site.email }}" id="email-link">
            <img src="/assets/img/envelope.png" height="44" width="60" alt="email" />
          </a>
    </div>
  </div>
</div>